# Python + MYSQL

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\asus\anaconda3\lib\site-packages (8.3.0)

# Create a Connection

In [1]:
import mysql.connector

mydb= mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "password"
        
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000020A0A3C9310>

# Create Database

In [2]:
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE IF NOT EXISTS mydatasciencedb")

# Show Databases

In [3]:
mycursor.execute("SHOW DATABASES")

In [4]:
for x in mycursor:
    print(x)

('college1',)
('company',)
('datascilearn',)
('information_schema',)
('machinelearning',)
('mydatasciencedb',)
('mysql',)
('performance_schema',)

# USE DATABASE

In [6]:
mycursor.execute("USE mydatasciencedb")

# CREATE TABLE

In [7]:
mycursor.execute("CREATE TABLE dscourse(id INT PRIMARY KEY , name VARCHAR(50))")

# INSERT VALUES

In [8]:
sql = "INSERT INTO dscourse(id , name) VALUES(%s , %s)"
val = (101 , "John")

In [9]:
mycursor.execute(sql,val)
mydb.commit()    #It is required to make the changes, otherwise no changes are made to the table.

In [10]:
mycursor.rowcount

1

In [7]:
mycursor.execute("SELECT * FROM dscourse")

result = mycursor.fetchall()

for i in result:
    print(i)

(101, 'John')

In [8]:
sql = "INSERT INTO dscourse(id , name) VALUES(%s , %s)"
val = [(201 , "Mike"),
       (102,"Elon"),
       (103,"Rock"),
       (104, "Rey"),
       (105, "Edge")
       ]

In [9]:
mycursor.executemany(sql, val)
mydb.commit()

In [10]:
mycursor.rowcount

5

In [11]:
mycursor.execute("SELECT * FROM dscourse")

result = mycursor.fetchall()

for i in result:
    print(i)

(101, 'John')
(102, 'Elon')
(103, 'Rock')
(104, 'Rey')
(105, 'Edge')
(201, 'Mike')

# WHERE CLAUSE

In [12]:
sql = "SELECT * FROM dscourse WHERE id = 101"

mycursor.execute(sql)
result = mycursor.fetchall()

In [14]:
for i in result:
    print(i)

(101, 'John')

# ORDER BY

In [15]:
sql = "SELECT * FROM dscourse ORDER BY id DESC"
mycursor.execute(sql)
result = mycursor.fetchall()

for i in result:
    print(i)

(201, 'Mike')
(105, 'Edge')
(104, 'Rey')
(103, 'Rock')
(102, 'Elon')
(101, 'John')

# DELETE

In [17]:
sql = "DELETE FROM dscourse WHERE name='John'"
mycursor.execute(sql)
mydb.commit()

In [18]:
mycursor.rowcount

1

In [19]:
mycursor.execute("SELECT * FROM dscourse")

result = mycursor.fetchall()

for i in result:
    print(i)

(102, 'Elon')
(103, 'Rock')
(104, 'Rey')
(105, 'Edge')
(201, 'Mike')

# UPDATE

In [20]:
sql = "UPDATE dscourse SET name='Jonny' WHERE name='Elon'"

mycursor.execute(sql)
mydb.commit()

In [21]:
mycursor.execute("SELECT * FROM dscourse")

result = mycursor.fetchall()

for i in result:
    print(i)

(102, 'Jonny')
(103, 'Rock')
(104, 'Rey')
(105, 'Edge')
(201, 'Mike')

# LIMIT

In [22]:
mycursor.execute("SELECT * FROM dscourse LIMIT 2")
result = mycursor.fetchall()

for i in result:
    print(i)

(102, 'Jonny')
(103, 'Rock')

In [23]:
mycursor.execute("SELECT name FROM dscourse")

In [24]:
result = mycursor.fetchall()

for i in result:
    print(i)

('Jonny',)
('Rock',)
('Rey',)
('Edge',)
('Mike',)

# DROP TABLE

In [25]:
mycursor.execute("DROP TABLE dscourse")

In [27]:
mycursor.close()
mydb.close()