# Python MongoDB

In [1]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\asus\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\asus\anaconda3\lib\site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

# Create a Connection

In [1]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://datascilearn:datascilearn@cluster0.siuxpkh.mongodb.net/?retryWrites=true&w=majority")

In [2]:
db = client.test

In [3]:
db

Database(MongoClient(host=['ac-ncablql-shard-00-00.siuxpkh.mongodb.net:27017', 'ac-ncablql-shard-00-01.siuxpkh.mongodb.net:27017', 'ac-ncablql-shard-00-02.siuxpkh.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-nb5lje-shard-0', tls=True), 'test')

# Create a Database

In [4]:
db = client['datascience']

In [5]:
data = {
    "name":"Elon",
    "course":"Data Science master",
    "price":25000,
    "time":"Regular"
}

# Create a collection

In [6]:
collection_ds = db['my_records']

# Insert a Values

In [7]:
collection_ds.insert_one(data)

In [8]:
data1 ={
    "email_id":"elon@tesla.com",
    "phone_number":123556656566,
    "address":"36 Floor town connecticut"
}

In [9]:
collection_ds.insert_one(data1)

In [10]:
 data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [11]:
collection_ds.insert_many(data2)

In [12]:
data3 = {
 "name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
}

In [13]:
collection_ds.insert_one(data3)

In [14]:
list_of_records = [
    {'companyName': 'datascilearn',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},

    {'companyName': 'datascilearn',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},

    {'companyName': 'datascilearn',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [15]:
collection_ds.insert_many(list_of_records)

# Find

In [16]:
collection_ds.find_one()

{'_id': ObjectId('65c9b91b3a91c8a6806ffd77'),
 'name': 'Elon',
 'course': 'Data Science master',
 'price': 25000,
 'time': 'Regular'}

In [17]:
for i in collection_ds.find():
    
    print(i)

{'_id': ObjectId('65c9b91b3a91c8a6806ffd77'), 'name': 'Elon', 'course': 'Data Science master', 'price': 25000, 'time': 'Regular'}
{'_id': ObjectId('65c9ba5a3a91c8a6806ffd78'), 'email_id': 'elon@tesla.com', 'phone_number': 123556656566, 'address': '36 Floor town connecticut'}
{'_id': ObjectId('65c9bb103a91c8a6806ffd7b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65c9bb103a91c8a6806ffd7f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65c9bb103a91c8a6806ffd7c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65c9bb103a91c8a6806ffd80'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65c9bb103a91c8a6806ffd83'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65c9bb103a91c8a6806ffd82'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65c9bb103a91c8a6806ffd7e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65c9bb103a91c8a6806ffd7a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65c9bb103a91c8a6806ffd79'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65c9bb103a91c8a6806ffd84'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65c9bb103a91c8a6806ffd81'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65c9bb103a91c8a6806ffd7d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65c9bb7b3a91c8a6806ffd85'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('65c9bc0f3a91c8a6806ffd88'), 'companyName': 'datascilearn', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('65c9bc0f3a91c8a6806ffd87'), 'companyName': 'datascilearn', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('65c9bc0f3a91c8a6806ffd86'), 'companyName': 'datascilearn', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': '4', 'companyName': 'datascilearn', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'datascilearn', 'Faculty': 'PQR'}
{'_id': '3', 'companyName': 'datascilearn', 'Faculty': 'XYZ'}
{'_id': ObjectId('65c9c0bdce832d5355640a97'), 'name': 'Elon', 'course': 'Data Science master', 'price': 25000, 'time': 'Regular'}
{'_id': ObjectId('65c9c0c0ce832d5355640a98'), 'email_id': 'elon@tesla.com', 'phone_number': 123556656566, 'address': '36 Floor town connecticut'}
{'_id': ObjectId('65c9c0c1ce832d5355640a99'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65c9c0c1ce832d5355640a9a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65c9c0c1ce832d5355640a9b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65c9c0c1ce832d5355640a9c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65c9c0c1ce832d5355640a9d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65c9c0c1ce832d5355640a9e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65c9c0c1ce832d5355640a9f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65c9c0c1ce832d5355640aa0'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65c9c0c1ce832d5355640aa1'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65c9c0c1ce832d5355640aa2'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65c9c0c1ce832d5355640aa3'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65c9c0c1ce832d5355640aa4'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65c9c0c1ce832d5355640aa5'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('65c9c0c1ce832d5355640aa6'), 'companyName': 'datascilearn', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('65c9c0c1ce832d5355640aa7'), 'companyName': 'datascilearn', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('65c9c0c1ce832d5355640aa8'), 'companyName': 'datascilearn', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('65c9c1e0ce832d5355640aaa'), 'name': 'Elon', 'course': 'Data Science master', 'price': 25000, 'time': 'Regular'}
{'_id': ObjectId('65c9c1e0ce832d5355640aab'), 'email_id': 'elon@tesla.com', 'phone_number': 123556656566, 'address': '36 Floor town connecticut'}
{'_id': ObjectId('65c9c1e0ce832d5355640aac'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65c9c1e0ce832d5355640aad'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65c9c1e0ce832d5355640aae'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65c9c1e0ce832d5355640aaf'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65c9c1e0ce832d5355640ab0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65c9c1e0ce832d5355640ab1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65c9c1e0ce832d5355640ab2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65c9c1e0ce832d5355640ab3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65c9c1e0ce832d5355640ab4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65c9c1e0ce832d5355640ab5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65c9c1e0ce832d5355640ab6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65c9c1e0ce832d5355640ab7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65c9c1e1ce832d5355640ab8'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('65c9c1e1ce832d5355640ab9'), 'companyName': 'datascilearn', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('65c9c1e1ce832d5355640aba'), 'companyName': 'datascilearn', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('65c9c1e1ce832d5355640abb'), 'companyName': 'datascilearn', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('65c9c25dfa6198075d872bad'), 'name': 'Elon', 'course': 'Data Science master', 'price': 25000, 'time': 'Regular'}
{'_id': ObjectId('65c9c25ffa6198075d872bae'), 'email_id': 'elon@tesla.com', 'phone_number': 123556656566, 'address': '36 Floor town connecticut'}
{'_id': ObjectId('65c9c25ffa6198075d872baf'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65c9c25ffa6198075d872bb0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65c9c25ffa6198075d872bb1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65c9c25ffa6198075d872bb2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65c9c25ffa6198075d872bb3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65c9c25ffa6198075d872bb4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65c9c25ffa6198075d872bb5'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65c9c25ffa6198075d872bb6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65c9c25ffa6198075d872bb7'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65c9c25ffa6198075d872bb8'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65c9c25ffa6198075d872bb9'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65c9c25ffa6198075d872bba'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65c9c25ffa6198075d872bbb'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('65c9c260fa6198075d872bbc'), 'companyName': 'datascilearn', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('65c9c260fa6198075d872bbd'), 'companyName': 'datascilearn', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('65c9c260fa6198075d872bbe'), 'companyName': 'datascilearn', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [18]:
for i in collection_ds.find({'name':'Elon'}):
    print(i)

{'_id': ObjectId('65c9b91b3a91c8a6806ffd77'), 'name': 'Elon', 'course': 'Data Science master', 'price': 25000, 'time': 'Regular'}
{'_id': ObjectId('65c9c0bdce832d5355640a97'), 'name': 'Elon', 'course': 'Data Science master', 'price': 25000, 'time': 'Regular'}
{'_id': ObjectId('65c9c1e0ce832d5355640aaa'), 'name': 'Elon', 'course': 'Data Science master', 'price': 25000, 'time': 'Regular'}
{'_id': ObjectId('65c9c25dfa6198075d872bad'), 'name': 'Elon', 'course': 'Data Science master', 'price': 25000, 'time': 'Regular'}

In [19]:
for i in collection_ds.find({'name':'Vicky'}):
    print(i)

{'_id': ObjectId('65c9bb103a91c8a6806ffd80'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65c9c0c1ce832d5355640aa0'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65c9c1e0ce832d5355640ab3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65c9c25ffa6198075d872bb6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}

In [20]:
for i in collection_ds.find({'companyName':'datascilearn'}):
    print(i)

{'_id': ObjectId('65c9bc0f3a91c8a6806ffd88'), 'companyName': 'datascilearn', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('65c9bc0f3a91c8a6806ffd87'), 'companyName': 'datascilearn', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('65c9bc0f3a91c8a6806ffd86'), 'companyName': 'datascilearn', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': '4', 'companyName': 'datascilearn', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'datascilearn', 'Faculty': 'PQR'}
{'_id': '3', 'companyName': 'datascilearn', 'Faculty': 'XYZ'}
{'_id': ObjectId('65c9c0c1ce832d5355640aa6'), 'companyName': 'datascilearn', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('65c9c0c1ce832d5355640aa7'), 'companyName': 'datascilearn', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('65c9c0c1ce832d5355640aa8'), 'companyName': 'datascilearn', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('65c9c1e1ce832d5355640ab9'), 'companyName': 'datascilearn', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('65c9c1e1ce832d5355640aba'), 'companyName': 'datascilearn', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('65c9c1e1ce832d5355640abb'), 'companyName': 'datascilearn', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('65c9c260fa6198075d872bbc'), 'companyName': 'datascilearn', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('65c9c260fa6198075d872bbd'), 'companyName': 'datascilearn', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('65c9c260fa6198075d872bbe'), 'companyName': 'datascilearn', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [ ]:
random_data = [
    {'_id': '3', 'companyName': 'datascilearn', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'datascilearn', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'datsscilearn', 'Faculty': 'PQR'},
]

In [ ]:
coll_pwskills.insert_many(random_data)

In [ ]:
for i in collection_ds.find():
    print(i)

# Query

In [23]:
for i in collection_ds.find({"_id":{"$gte":'4'}}):
    print(i)

{'_id': '4', 'companyName': 'datascilearn', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'datascilearn', 'Faculty': 'PQR'}

In [24]:
for i in collection_ds.find({"_id":{"$lte":'4'}}):
    print(i)

{'_id': '3', 'companyName': 'datascilearn', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'datascilearn', 'Faculty': 'ABC'}

In [25]:
collection_ds.update_many({'company_Name':'datascilearn'}, {"$set":{'company_Name':'dslearner'}})

In [26]:
for i in collection_ds.find():
    print(i)

{'_id': ObjectId('65c9b91b3a91c8a6806ffd77'), 'name': 'Elon', 'course': 'Data Science master', 'price': 25000, 'time': 'Regular'}
{'_id': ObjectId('65c9ba5a3a91c8a6806ffd78'), 'email_id': 'elon@tesla.com', 'phone_number': 123556656566, 'address': '36 Floor town connecticut'}
{'_id': ObjectId('65c9bb103a91c8a6806ffd7b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65c9bb103a91c8a6806ffd7f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65c9bb103a91c8a6806ffd7c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65c9bb103a91c8a6806ffd80'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65c9bb103a91c8a6806ffd83'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65c9bb103a91c8a6806ffd82'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65c9bb103a91c8a6806ffd7e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65c9bb103a91c8a6806ffd7a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65c9bb103a91c8a6806ffd79'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65c9bb103a91c8a6806ffd84'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65c9bb103a91c8a6806ffd81'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65c9bb103a91c8a6806ffd7d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65c9bb7b3a91c8a6806ffd85'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('65c9bc0f3a91c8a6806ffd88'), 'companyName': 'datascilearn', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('65c9bc0f3a91c8a6806ffd87'), 'companyName': 'datascilearn', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('65c9bc0f3a91c8a6806ffd86'), 'companyName': 'datascilearn', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': '4', 'companyName': 'datascilearn', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'datascilearn', 'Faculty': 'PQR'}
{'_id': '3', 'companyName': 'datascilearn', 'Faculty': 'XYZ'}
{'_id': ObjectId('65c9c0bdce832d5355640a97'), 'name': 'Elon', 'course': 'Data Science master', 'price': 25000, 'time': 'Regular'}
{'_id': ObjectId('65c9c0c0ce832d5355640a98'), 'email_id': 'elon@tesla.com', 'phone_number': 123556656566, 'address': '36 Floor town connecticut'}
{'_id': ObjectId('65c9c0c1ce832d5355640a99'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65c9c0c1ce832d5355640a9a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65c9c0c1ce832d5355640a9b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65c9c0c1ce832d5355640a9c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65c9c0c1ce832d5355640a9d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65c9c0c1ce832d5355640a9e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65c9c0c1ce832d5355640a9f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65c9c0c1ce832d5355640aa0'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65c9c0c1ce832d5355640aa1'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65c9c0c1ce832d5355640aa2'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65c9c0c1ce832d5355640aa3'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65c9c0c1ce832d5355640aa4'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65c9c0c1ce832d5355640aa5'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('65c9c0c1ce832d5355640aa6'), 'companyName': 'datascilearn', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('65c9c0c1ce832d5355640aa7'), 'companyName': 'datascilearn', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('65c9c0c1ce832d5355640aa8'), 'companyName': 'datascilearn', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('65c9c1e0ce832d5355640aaa'), 'name': 'Elon', 'course': 'Data Science master', 'price': 25000, 'time': 'Regular'}
{'_id': ObjectId('65c9c1e0ce832d5355640aab'), 'email_id': 'elon@tesla.com', 'phone_number': 123556656566, 'address': '36 Floor town connecticut'}
{'_id': ObjectId('65c9c1e0ce832d5355640aac'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65c9c1e0ce832d5355640aad'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65c9c1e0ce832d5355640aae'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65c9c1e0ce832d5355640aaf'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65c9c1e0ce832d5355640ab0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65c9c1e0ce832d5355640ab1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65c9c1e0ce832d5355640ab2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65c9c1e0ce832d5355640ab3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65c9c1e0ce832d5355640ab4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65c9c1e0ce832d5355640ab5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65c9c1e0ce832d5355640ab6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65c9c1e0ce832d5355640ab7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65c9c1e1ce832d5355640ab8'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('65c9c1e1ce832d5355640ab9'), 'companyName': 'datascilearn', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('65c9c1e1ce832d5355640aba'), 'companyName': 'datascilearn', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('65c9c1e1ce832d5355640abb'), 'companyName': 'datascilearn', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('65c9c25dfa6198075d872bad'), 'name': 'Elon', 'course': 'Data Science master', 'price': 25000, 'time': 'Regular'}
{'_id': ObjectId('65c9c25ffa6198075d872bae'), 'email_id': 'elon@tesla.com', 'phone_number': 123556656566, 'address': '36 Floor town connecticut'}
{'_id': ObjectId('65c9c25ffa6198075d872baf'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65c9c25ffa6198075d872bb0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65c9c25ffa6198075d872bb1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65c9c25ffa6198075d872bb2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65c9c25ffa6198075d872bb3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65c9c25ffa6198075d872bb4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65c9c25ffa6198075d872bb5'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65c9c25ffa6198075d872bb6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65c9c25ffa6198075d872bb7'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65c9c25ffa6198075d872bb8'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65c9c25ffa6198075d872bb9'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65c9c25ffa6198075d872bba'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65c9c25ffa6198075d872bbb'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('65c9c260fa6198075d872bbc'), 'companyName': 'datascilearn', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('65c9c260fa6198075d872bbd'), 'companyName': 'datascilearn', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('65c9c260fa6198075d872bbe'), 'companyName': 'datascilearn', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}