# Series

In [8]:
import pandas as pd

In [9]:
data = [1,2,3,4]

In [13]:
series = pd.Series(data)

In [14]:
series

0    1
1    2
2    3
3    4
dtype: int64

In [12]:
type(data)

list

# Accessing elements

In [15]:
series[0]   #indexing

1

In [16]:
series[1:4]   #slicing

1    2
2    3
3    4
dtype: int64

# Operation

In [17]:
series1 = pd.Series([1,2,3])
series2 = pd.Series([4,5,6])

In [18]:
result = series1 + series2

In [19]:
result

0    5
1    7
2    9
dtype: int64

In [20]:
type(result)

pandas.core.series.Series

In [23]:
df = pd.read_csv("https://raw.githubusercontent.com/roberthryniewicz/datasets/master/airline-dataset/flights/flights.csv")

In [24]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [25]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [28]:
s = df['DepTime'][0:8]

In [29]:
s

0    2003.0
1     754.0
2     628.0
3     926.0
4    1829.0
5    1940.0
6    1937.0
7    1039.0
Name: DepTime, dtype: float64

In [30]:
type(s)

pandas.core.series.Series

In [31]:
l = ['a','b','c','d','e','f','g','h']

In [34]:
s1 = pd.Series(list(s),index=l)

In [35]:
s1

a    2003.0
b     754.0
c     628.0
d     926.0
e    1829.0
f    1940.0
g    1937.0
h    1039.0
dtype: float64

In [36]:
s1[0]

2003.0

In [37]:
s1['a']

2003.0

In [38]:
s[0]

2003.0

In [41]:
s2 = s1.append(s)

C:\Users\Asus\AppData\Local\Temp\ipykernel_10744\2451741888.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 = s1.append(s)

In [42]:
s2

a    2003.0
b     754.0
c     628.0
d     926.0
e    1829.0
f    1940.0
g    1937.0
h    1039.0
0    2003.0
1     754.0
2     628.0
3     926.0
4    1829.0
5    1940.0
6    1937.0
7    1039.0
dtype: float64

In [43]:
s2[2]

628.0

In [46]:
s2[0]

2003.0

In [47]:
s2['a']

2003.0

In [48]:
s3 = pd.Series([100,200,300,400,500], index = [2,4,5,6,1])

In [49]:
s3

2    100
4    200
5    300
6    400
1    500
dtype: int64

In [50]:
type(s3)

pandas.core.series.Series

In [51]:
s4 = pd.Series([4,5,6,7,8,9] , index=[9,10,4,5,13,14])

In [52]:
s4

9     4
10    5
4     6
5     7
13    8
14    9
dtype: int64

In [53]:
s5 = s3.append(s4)

C:\Users\Asus\AppData\Local\Temp\ipykernel_10744\2271913347.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s5 = s3.append(s4)

In [54]:
s5

2     100
4     200
5     300
6     400
1     500
9       4
10      5
4       6
5       7
13      8
14      9
dtype: int64

In [55]:
s5[4]

4    200
4      6
dtype: int64

In [56]:
s5[0:5]

2    100
4    200
5    300
6    400
1    500
dtype: int64

In [57]:
s3

2    100
4    200
5    300
6    400
1    500
dtype: int64

In [58]:
s4

9     4
10    5
4     6
5     7
13    8
14    9
dtype: int64

In [59]:
s3 + s4

1       NaN
2       NaN
4     206.0
5     307.0
6       NaN
9       NaN
10      NaN
13      NaN
14      NaN
dtype: float64

In [60]:
s3*s4

1        NaN
2        NaN
4     1200.0
5     2100.0
6        NaN
9        NaN
10       NaN
13       NaN
14       NaN
dtype: float64